//colors
$button-background-color : #17744c;
$grocery-background-white-color : white;
$category-background-color : #ededed;
$payment-top-color : #e1e3e7;
$icon-text-color : #979292;

//Font Sizes
$h3-font-size : 22px;
$h4-font-size : 15px;
$h5-font-size : 19px;
$h2-font-size : 14px;


//Font Weights
$font-weight-regular:400;
$font-weight-semibold:500;
$font-weight-bold:600;
